<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="ExtentPack.extentClass" />
	</listeners>

	<test thread-count="5" name="Test">
		<classes>
			<class name="com.OpenMs.TestCases.TC_001_Verify_login" />
			<class name="com.OpenMs.TestCases.TC_002_WithoutLocation" />
			<class name="com.OpenMs.TestCases.TC_003_SearchPatient" />
			<class name="com.OpenMs.TestCases.TC_004_verify_RoberTaylor_Id" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
